{% load static %}
<html>
<head>
	<title>Telcel</title>
	<link href="{% static 'assets/css/estilos.css' %}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Recuperar contraseña</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
            <form class="login-form" method="post">
                {% csrf_token %}
                <div class="sign-in-htm">
                    <div class="group">
                        <label for="id_email" class="label">Email</label>
                        {{form.email}}
                    </div>
                    <div class="group">
                        <button value ="Enviar" type="submit" class="button" >Enviar</button>
                    </div>
                    <div class="hr"></div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
